/*
    RENAME THIS FILE to firebase.utils.js
    THEN UPDATE THE config OBJECT WITH YOUR firebase PROJECT ACOUNT INFORMATION
*/
import firebase from "firebase/app";
import "firebase/firestore";
import "firebase/auth";

const config = {
    // USE YOUR PROJECT CONFIGURATION DATA HERE, API KEY, etc
};

firebase.initializeApp(config);

export const auth = firebase.auth();
export const firestore = firebase.firestore();

const provider = new firebase.auth.GoogleAuthProvider();
provider.setCustomParameters({prompt: 'select_account'});
export const signInWithGoogle = () => auth.signInWithPopup(provider);

export default firebase;